.man {
    width: 100px;
    height: 100px;
    background: url('./stretching-man.png') no-repeat;
    transition: opacity 0.5s;
}

.manOpacity {
    composes: man;
    opacity: 0.3;
}

.man:hover {
    opacity: 1;
}
